<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Bootstrap Components</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand" href="/">Home</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/top_salaries">Top MLB Salaries, 2018</a></li>
          <li><a href="/team_payroll">Team Payroll</a></li>
          <li><a href="/historical_data">Historical Data</a></li>
          <li><a href="/stadium_album">Stadium Album</a></li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <h1>Top 100 Salaries For The 2018 Season</h1>
    <table border="1" class="dataframe">
        <thead>
          <tr style="text-align: right;">
            <th></th>
            <th>name</th>
            <th>Position</th>
            <th>Salary</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>0</th>
            <td>Stephen Strasburg</td>
            <td>Starting Pitcher</td>
            <td>$38,333,334</td>
          </tr>
          <tr>
            <th>1</th>
            <td>Max Scherzer</td>
            <td>Starting Pitcher</td>
            <td>$37,405,562</td>
          </tr>
          <tr>
            <th>2</th>
            <td>Zack Greinke</td>
            <td>Starting Pitcher</td>
            <td>$34,500,000</td>
          </tr>
          <tr>
            <th>3</th>
            <td>Mike Trout</td>
            <td>Center Field</td>
            <td>$34,083,333</td>
          </tr>
          <tr>
            <th>4</th>
            <td>David Price</td>
            <td>Starting Pitcher</td>
            <td>$31,000,000</td>
          </tr>
          <tr>
            <th>5</th>
            <td>Clayton Kershaw</td>
            <td>Starting Pitcher</td>
            <td>$31,000,000</td>
          </tr>
          <tr>
            <th>6</th>
            <td>Miguel Cabrera</td>
            <td>1st Base</td>
            <td>$30,000,000</td>
          </tr>
          <tr>
            <th>7</th>
            <td>Yoenis Cespedes</td>
            <td>Center Field</td>
            <td>$29,000,000</td>
          </tr>
          <tr>
            <th>8</th>
            <td>Albert Pujols</td>
            <td>1st Base</td>
            <td>$28,000,000</td>
          </tr>
          <tr>
            <th>9</th>
            <td>Justin Verlander</td>
            <td>Starting Pitcher</td>
            <td>$28,000,000</td>
          </tr>
          <tr>
            <th>10</th>
            <td>Felix Hernandez</td>
            <td>Starting Pitcher</td>
            <td>$27,857,142</td>
          </tr>
          <tr>
            <th>11</th>
            <td>Jon Lester</td>
            <td>Starting Pitcher</td>
            <td>$27,500,000</td>
          </tr>
          <tr>
            <th>12</th>
            <td>Nolan Arenado</td>
            <td>3rd Base</td>
            <td>$26,000,000</td>
          </tr>
          <tr>
            <th>13</th>
            <td>Giancarlo Stanton</td>
            <td>Designated Hitter</td>
            <td>$26,000,000</td>
          </tr>
          <tr>
            <th>14</th>
            <td>Jordan Zimmermann</td>
            <td>Starting Pitcher</td>
            <td>$25,000,000</td>
          </tr>
          <tr>
            <th>15</th>
            <td>Joey Votto</td>
            <td>1st Base</td>
            <td>$25,000,000</td>
          </tr>
          <tr>
            <th>16</th>
            <td>Jake Arrieta</td>
            <td>Starting Pitcher</td>
            <td>$25,000,000</td>
          </tr>
          <tr>
            <th>17</th>
            <td>Robinson Cano</td>
            <td>2nd Base</td>
            <td>$24,000,000</td>
          </tr>
          <tr>
            <th>18</th>
            <td>J.D. Martinez</td>
            <td>Designated Hitter</td>
            <td>$23,750,000</td>
          </tr>
          <tr>
            <th>19</th>
            <td>Josh Donaldson</td>
            <td>3rd Base</td>
            <td>$23,000,000</td>
          </tr>
          <tr>
            <th>20</th>
            <td>Jason Heyward</td>
            <td>Right Field</td>
            <td>$22,500,000</td>
          </tr>
          <tr>
            <th>21</th>
            <td>Buster Posey</td>
            <td>Catcher</td>
            <td>$22,177,777</td>
          </tr>
          <tr>
            <th>22</th>
            <td>Masahiro Tanaka</td>
            <td>Starting Pitcher</td>
            <td>$22,000,000</td>
          </tr>
          <tr>
            <th>23</th>
            <td>Edwin Encarnacion</td>
            <td>Designated Hitter</td>
            <td>$21,666,668</td>
          </tr>
          <tr>
            <th>24</th>
            <td>Matt Kemp</td>
            <td>Left Field</td>
            <td>$21,500,000</td>
          </tr>
          <tr>
            <th>25</th>
            <td>Freddie Freeman</td>
            <td>1st Base</td>
            <td>$21,359,375</td>
          </tr>
          <tr>
            <th>26</th>
            <td>Charlie Blackmon</td>
            <td>Right Field</td>
            <td>$21,333,333</td>
          </tr>
          <tr>
            <th>27</th>
            <td>Jacoby Ellsbury</td>
            <td>Center Field</td>
            <td>$21,142,857</td>
          </tr>
          <tr>
            <th>28</th>
            <td>Rick Porcello</td>
            <td>Starting Pitcher</td>
            <td>$21,125,000</td>
          </tr>
          <tr>
            <th>29</th>
            <td>Chris Davis</td>
            <td>1st Base</td>
            <td>$21,118,782</td>
          </tr>
          <tr>
            <th>30</th>
            <td>Eric Hosmer</td>
            <td>1st Base</td>
            <td>$21,000,000</td>
          </tr>
          <tr>
            <th>31</th>
            <td>Shin-Soo Choo</td>
            <td>Designated Hitter</td>
            <td>$21,000,000</td>
          </tr>
          <tr>
            <th>32</th>
            <td>Johnny Cueto</td>
            <td>Starting Pitcher</td>
            <td>$21,000,000</td>
          </tr>
          <tr>
            <th>33</th>
            <td>Carlos Santana</td>
            <td>Designated Hitter</td>
            <td>$20,333,333</td>
          </tr>
          <tr>
            <th>34</th>
            <td>Yadier Molina</td>
            <td>Catcher</td>
            <td>$20,000,000</td>
          </tr>
          <tr>
            <th>35</th>
            <td>Mookie Betts</td>
            <td>Right Field</td>
            <td>$20,000,000</td>
          </tr>
          <tr>
            <th>36</th>
            <td>Russell Martin</td>
            <td>Catcher</td>
            <td>$20,000,000</td>
          </tr>
          <tr>
            <th>37</th>
            <td>Yu Darvish</td>
            <td>Starting Pitcher</td>
            <td>$20,000,000</td>
          </tr>
          <tr>
            <th>38</th>
            <td>Cole Hamels</td>
            <td>Starting Pitcher</td>
            <td>$20,000,000</td>
          </tr>
          <tr>
            <th>39</th>
            <td>Wei-Yin Chen</td>
            <td>Starting Pitcher</td>
            <td>$20,000,000</td>
          </tr>
          <tr>
            <th>40</th>
            <td>Alex Gordon</td>
            <td>Left Field</td>
            <td>$20,000,000</td>
          </tr>
          <tr>
            <th>41</th>
            <td>Jeff Samardzija</td>
            <td>Starting Pitcher</td>
            <td>$19,800,000</td>
          </tr>
          <tr>
            <th>42</th>
            <td>Kyle Seager</td>
            <td>3rd Base</td>
            <td>$19,500,000</td>
          </tr>
          <tr>
            <th>43</th>
            <td>Kenley Jansen</td>
            <td>Relief Pitcher</td>
            <td>$19,333,334</td>
          </tr>
          <tr>
            <th>44</th>
            <td>Justin Turner</td>
            <td>3rd Base</td>
            <td>$19,000,000</td>
          </tr>
          <tr>
            <th>45</th>
            <td>Mark Melancon</td>
            <td>Relief Pitcher</td>
            <td>$19,000,000</td>
          </tr>
          <tr>
            <th>46</th>
            <td>Ryan Braun</td>
            <td>Left Field</td>
            <td>$19,000,000</td>
          </tr>
          <tr>
            <th>47</th>
            <td>Anthony Rendon</td>
            <td>3rd Base</td>
            <td>$18,800,000</td>
          </tr>
          <tr>
            <th>48</th>
            <td>Rich Hill</td>
            <td>Starting Pitcher</td>
            <td>$18,666,668</td>
          </tr>
          <tr>
            <th>49</th>
            <td>Justin Upton</td>
            <td>Left Field</td>
            <td>$18,000,000</td>
          </tr>
          <tr>
            <th>50</th>
            <td>Wade Davis</td>
            <td>Relief Pitcher</td>
            <td>$18,000,000</td>
          </tr>
          <tr>
            <th>51</th>
            <td>Ryan Zimmerman</td>
            <td>1st Base</td>
            <td>$18,000,000</td>
          </tr>
          <tr>
            <th>52</th>
            <td>Hyun-Jin Ryu</td>
            <td>Starting Pitcher</td>
            <td>$17,900,000</td>
          </tr>
          <tr>
            <th>53</th>
            <td>Aroldis Chapman</td>
            <td>Relief Pitcher</td>
            <td>$17,200,000</td>
          </tr>
          <tr>
            <th>54</th>
            <td>Brandon Belt</td>
            <td>1st Base</td>
            <td>$17,200,000</td>
          </tr>
          <tr>
            <th>55</th>
            <td>Corey Kluber</td>
            <td>Starting Pitcher</td>
            <td>$17,200,000</td>
          </tr>
          <tr>
            <th>56</th>
            <td>Nathan Eovaldi</td>
            <td>Starting Pitcher</td>
            <td>$17,000,000</td>
          </tr>
          <tr>
            <th>57</th>
            <td>Jacob deGrom</td>
            <td>Starting Pitcher</td>
            <td>$17,000,000</td>
          </tr>
          <tr>
            <th>58</th>
            <td>J.A. Happ</td>
            <td>Starting Pitcher</td>
            <td>$17,000,000</td>
          </tr>
          <tr>
            <th>59</th>
            <td>Dexter Fowler</td>
            <td>Center Field</td>
            <td>$16,500,000</td>
          </tr>
          <tr>
            <th>60</th>
            <td>Khris Davis</td>
            <td>Designated Hitter</td>
            <td>$16,500,000</td>
          </tr>
          <tr>
            <th>61</th>
            <td>Ian Kennedy</td>
            <td>Starting Pitcher</td>
            <td>$16,500,000</td>
          </tr>
          <tr>
            <th>62</th>
            <td>Jose Abreu</td>
            <td>Designated Hitter</td>
            <td>$16,000,000</td>
          </tr>
          <tr>
            <th>63</th>
            <td>Michael Brantley</td>
            <td>Left Field</td>
            <td>$16,000,000</td>
          </tr>
          <tr>
            <th>64</th>
            <td>Yasmani Grandal</td>
            <td>Catcher</td>
            <td>$16,000,000</td>
          </tr>
          <tr>
            <th>65</th>
            <td>Mike Leake</td>
            <td>Starting Pitcher</td>
            <td>$16,000,000</td>
          </tr>
          <tr>
            <th>66</th>
            <td>Paul Goldschmidt</td>
            <td>1st Base</td>
            <td>$15,500,000</td>
          </tr>
          <tr>
            <th>67</th>
            <td>Yasmany Tomas</td>
            <td>Left Field</td>
            <td>$15,500,000</td>
          </tr>
          <tr>
            <th>68</th>
            <td>Elvis Andrus</td>
            <td>Shortstop</td>
            <td>$15,250,000</td>
          </tr>
          <tr>
            <th>69</th>
            <td>Danny Duffy</td>
            <td>Starting Pitcher</td>
            <td>$15,250,000</td>
          </tr>
          <tr>
            <th>70</th>
            <td>Brandon Crawford</td>
            <td>Shortstop</td>
            <td>$15,200,000</td>
          </tr>
          <tr>
            <th>71</th>
            <td>Dustin Pedroia</td>
            <td>2nd Base</td>
            <td>$15,125,000</td>
          </tr>
          <tr>
            <th>72</th>
            <td>Chris Sale</td>
            <td>Starting Pitcher</td>
            <td>$15,000,000</td>
          </tr>
          <tr>
            <th>73</th>
            <td>Ian Desmond</td>
            <td>Center Field</td>
            <td>$15,000,000</td>
          </tr>
          <tr>
            <th>74</th>
            <td>Charlie Morton</td>
            <td>Starting Pitcher</td>
            <td>$15,000,000</td>
          </tr>
          <tr>
            <th>75</th>
            <td>Martin Prado</td>
            <td>1st Base</td>
            <td>$15,000,000</td>
          </tr>
          <tr>
            <th>76</th>
            <td>Jean Segura</td>
            <td>Shortstop</td>
            <td>$14,950,000</td>
          </tr>
          <tr>
            <th>77</th>
            <td>Matt Carpenter</td>
            <td>1st Base</td>
            <td>$14,750,000</td>
          </tr>
          <tr>
            <th>78</th>
            <td>Jason Kipnis</td>
            <td>2nd Base</td>
            <td>$14,666,668</td>
          </tr>
          <tr>
            <th>79</th>
            <td>Evan Longoria</td>
            <td>3rd Base</td>
            <td>$14,500,000</td>
          </tr>
          <tr>
            <th>80</th>
            <td>Lorenzo Cain</td>
            <td>Center Field</td>
            <td>$14,000,000</td>
          </tr>
          <tr>
            <th>81</th>
            <td>Jay Bruce</td>
            <td>Right Field</td>
            <td>$14,000,000</td>
          </tr>
          <tr>
            <th>82</th>
            <td>Alex Cobb</td>
            <td>Starting Pitcher</td>
            <td>$14,000,000</td>
          </tr>
          <tr>
            <th>83</th>
            <td>Nelson Cruz</td>
            <td>Designated Hitter</td>
            <td>$14,000,000</td>
          </tr>
          <tr>
            <th>84</th>
            <td>Gerrit Cole</td>
            <td>Starting Pitcher</td>
            <td>$13,500,000</td>
          </tr>
          <tr>
            <th>85</th>
            <td>Mark Trumbo</td>
            <td>Designated Hitter</td>
            <td>$13,500,000</td>
          </tr>
          <tr>
            <th>86</th>
            <td>Dee Gordon</td>
            <td>2nd Base</td>
            <td>$13,300,000</td>
          </tr>
          <tr>
            <th>87</th>
            <td>Trevor Bauer</td>
            <td>Starting Pitcher</td>
            <td>$13,000,000</td>
          </tr>
          <tr>
            <th>88</th>
            <td>Andrelton Simmons</td>
            <td>Shortstop</td>
            <td>$13,000,000</td>
          </tr>
          <tr>
            <th>89</th>
            <td>Jedd Gyorko</td>
            <td>3rd Base</td>
            <td>$13,000,000</td>
          </tr>
          <tr>
            <th>90</th>
            <td>Zack Britton</td>
            <td>Relief Pitcher</td>
            <td>$13,000,000</td>
          </tr>
          <tr>
            <th>91</th>
            <td>Josh Reddick</td>
            <td>Right Field</td>
            <td>$13,000,000</td>
          </tr>
          <tr>
            <th>92</th>
            <td>Patrick Corbin</td>
            <td>Starting Pitcher</td>
            <td>$12,916,666</td>
          </tr>
          <tr>
            <th>93</th>
            <td>Kris Bryant</td>
            <td>3rd Base</td>
            <td>$12,900,000</td>
          </tr>
          <tr>
            <th>94</th>
            <td>Zack Cozart</td>
            <td>3rd Base</td>
            <td>$12,666,666</td>
          </tr>
          <tr>
            <th>95</th>
            <td>Ben Zobrist</td>
            <td>2nd Base</td>
            <td>$12,500,000</td>
          </tr>
          <tr>
            <th>96</th>
            <td>Tyler Chatwood</td>
            <td>Starting Pitcher</td>
            <td>$12,500,000</td>
          </tr>
          <tr>
            <th>97</th>
            <td>Marcell Ozuna</td>
            <td>Left Field</td>
            <td>$12,250,000</td>
          </tr>
          <tr>
            <th>98</th>
            <td>Xander Bogaerts</td>
            <td>Shortstop</td>
            <td>$12,000,000</td>
          </tr>
          <tr>
            <th>99</th>
            <td>Manny Machado</td>
            <td>3rd Base</td>
            <td>$12,000,000</td>
          </tr>
        </tbody>
      </table>
